<script lang="ts">
	import { goto } from '$app/navigation';
	import Header from '$lib/components/Header.svelte';
	import Icon from '$lib/components/icon.svelte';
	import { Accordion, AccordionItem, Button, Card } from 'flowbite-svelte';
	import type { PageData } from '../$types';

	export let data: PageData;
</script>

<section class="pt-4 pb-24 px-4 md:px-0">
	<!-- <h3 class="text-dark-blue text-xl font-semibold mb-3">Instruksi Pembayaran</h3> -->

	<Card padding="none" size="xl" class="grid rounded-t-lg overflow-hidden md:grid-cols-1">
		<figure class="p-8 bg-white border-b  ">
			<blockquote class="mb-4text-gray-500 dark:text-gray-400">
				<h3 class="p-0 text-lg font-semibold text-dark-blue">Instruksi Pembayaran</h3>
				<p class="mt-4 font-light">
					Silahkan bayar tagihan Anda sebelum : <br />
					<b class="text-dark-blue font-semibold">3 Januari 2023, 15:00</b> atau pembayaran anda akan
					dibatalkan oleh sistem.
				</p>
			</blockquote>
		</figure>
		<figure class="px-8 py-4 bg-white border-b  ">
			<blockquote class="mb-4text-gray-500 dark:text-gray-400">
				<!-- <h3 class="p-0 text-lg font-semibold text-dark-blue mb-4">Total Pembayaran</h3> -->
				<div class="flex justify-between items-end">
					<div class="mb-4 font-light">
						<p class="">Total</p>
						<p class=" text-red-500 text-lg font-semibold">Rp. 50.000.000</p>
					</div>
					<Button
						btnClass="bg-white hover:bg-dark-blue hover:text-white transition-all border border-dark-blue/50 rounded-lg px-3 py-2 flex justify-center items-center"
					>
						<!-- <Icon class="opacity-70" icon="mingcute:copy-line" height="24" color="#20435F" /> -->
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							aria-hidden="true"
							class="w-5 h-5"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75"
							/>
						</svg>
					</Button>
				</div>
				<div class="flex justify-between items-end">
					<div class="mb-4 font-light">
						<p class="">Bank</p>
						<p class=" text-red-500 text-lg font-semibold">Mandiri</p>
					</div>
				</div>
				<div class="flex justify-between items-end">
					<div class=" font-light">
						<p class="">No. Virtual Account</p>
						<p class=" text-red-500 text-lg font-semibold">9772000009431835</p>
					</div>
					<Button
						btnClass="bg-white hover:bg-dark-blue hover:text-white transition-all border border-dark-blue/50 rounded-lg px-3 py-2 flex justify-center items-center"
					>
						<!-- <Icon class="opacity-70" icon="mingcute:copy-line" height="24" color="#20435F" /> -->
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							aria-hidden="true"
							class="w-5 h-5"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75"
							/>
						</svg>
					</Button>
				</div>
			</blockquote>
		</figure>
		<figure class="p-8 bg-white ">
			<blockquote class="mb-4text-gray-500 dark:text-gray-400">
				<h3 class="p-0 text-lg font-semibold text-dark-blue">Panduan</h3>
				<p class="my-4 font-light">
					Pembayaran dapat dilakukan menggunakan <b class="text-dark-blue font-semibold"
						>Akun Virtual</b
					> melalui ATM, M-Banking, Internet Banking, atau Kantor Cabang Terdekat.
				</p>
			</blockquote>
			<Accordion defaultClass="bg-white rounded-t-lg rounded-b-lg">
				<AccordionItem>
					<span slot="header" class="text-base flex gap-2">
						<span class="text-primary-500">Internet Banking</span>
					</span>
					<div class="grid grid-cols-2 gap-y-2">Test</div>
				</AccordionItem>
				<AccordionItem>
					<span slot="header" class="text-base flex gap-2">
						<span class="text-primary-500">ATM</span>
					</span>
					<div class="grid grid-cols-2 gap-y-2">Test</div>
				</AccordionItem>
			</Accordion>
			<blockquote class="mb-6 text-gray-500 ">
				<p class="my-4 font-light">
					Kami juga telah mengirimkan instruksi pembayaran ke alamat email anda. silakan cek inbox
					atau spam
				</p>
			</blockquote>
			<blockquote class="mb-4 text-gray-500 ">
				<h3 class="p-0 text-lg font-semibold text-dark-blue">Butuh Bantuan ?</h3>

				<div class="flex items-center space-x-3 mt-4 ">
					<div class="w-9 h-9 rounded-full bg-red-500 flex justify-center items-center">
						<Icon icon="material-symbols:call" height="24" color="#fff" />
					</div>
					<div class="flex-1 space-y-0.5 font-medium  text-left">
						<div class="underline">Silahkan klik disini</div>
						<div class="text-sm font-light text-gray-500 dark:text-gray-400">
							<span class="text-red-500 font-semibold">ID ORDER : 2301020014159</span>
						</div>
						<div class="font-light text-sm">
							*Sebutkan ID ORDER saat menghubungi Costumer Service
						</div>
					</div>
				</div>
			</blockquote>
		</figure>
	</Card>

	<div class="fixed bottom-0 inset-x-0 bg-white shadow-lg px-4 py-2">
		<div class="max-w-[48rem] flex gap-2 mx-auto">
			<Button
				on:click={() => goto('/')}
				color="primary"
				outline
				class="w-full bg-white !text-primary-500 border border-primary-500 font-semibold"
				size="lg"
			>
				<Icon icon="material-symbols:home" color="#b32126" height="20" class="pr-2" /> Beranda
			</Button>
			<Button color="primary" class="w-full font-semibold" size="lg">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-5 h-5 mr-2"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M2.25 18.75a60.07 60.07 0 0115.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 013 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 00-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 01-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 003 15h-.75M15 10.5a3 3 0 11-6 0 3 3 0 016 0zm3 0h.008v.008H18V10.5zm-12 0h.008v.008H6V10.5z"
					/>
				</svg>
				Konfirmasi
			</Button>
		</div>
	</div>
</section>
