<script lang="ts">
	import { goto } from '$app/navigation';
	import Icon from '$lib/components/icon.svelte';
	import InfoDetail from '$lib/components/InfoDetail.svelte';
	import OptionCity from '$lib/components/OptionCity.svelte';
	import Tab from '$lib/components/Tab.svelte';
	import {
		Accordion,
		AccordionItem,
		Button,
		ButtonGroup,
		Hr,
		Input,
		Modal,
		TabItem,
		Tabs
	} from 'flowbite-svelte';
	import type { Member, Product } from '$lib/models/types';
	import { formatRupiah } from '../../../../utils';
	import { cart, members, isModalFormMemberOpen, addToCart } from '$lib/stores';
	import { MemberForm } from '$lib/components/Form';
	import { onMount } from 'svelte';
	import { toast } from '$lib/stores/notifications';
	import { removeMember } from '$lib/stores/member';

	$: cart;
	$: members;
	$: isModalFormMemberOpen;

	let qty = 1;

	// let members: Member[] = [
	// 	{
	// 		name: 'madun',
	// 		sex: 'm',
	// 		dob: new Date().toLocaleDateString(),
	// 		fatherName: 'Nama ayah madun',
	// 		motherName: 'Nama ibu madun',
	// 		phone: '081286130566'
	// 	},
	// 	{
	// 		name: 'madun 2',
	// 		sex: 'm',
	// 		dob: new Date().toLocaleDateString(),
	// 		fatherName: 'Nama ayah madun',
	// 		motherName: 'Nama ibu madun',
	// 		phone: '081286130566'
	// 	},
	// 	{
	// 		name: 'madun 4',
	// 		sex: 'm',
	// 		dob: new Date().toLocaleDateString(),
	// 		fatherName: 'Nama ayah madun',
	// 		motherName: 'Nama ibu madun',
	// 		phone: '081286130566'
	// 	},
	// 	{
	// 		name: 'madun',
	// 		sex: 'm',
	// 		dob: new Date().toLocaleDateString(),
	// 		fatherName: 'Nama ayah madun',
	// 		motherName: 'Nama ibu madun',
	// 		phone: '081286130566'
	// 	}
	// ];

	function onClickIncrease() {
		console.log('increase 1');
		qty += 1;
	}

	function onClickDecrease() {
		console.log('decrease 1');
		if (qty > 1) {
			qty -= 1;
		}
	}

	function onClickAddToCart() {
		if ($members.length) {
			toast({ title: 'Keranjang ditambahkan', type: 'success' });

			addToCart({
				product: {
					id: '1',
					image: '/image/iamge.png',
					title: 'test 2',
					price: 20000,
					description: 'test desc'
				},
				members: $members,
				quantity: qty
			});
		} else {
			toast({ title: 'Data peserta tidak boleh kosong!', type: 'error' });
		}
	}

	function onClicAddMember() {
		$isModalFormMemberOpen = true;
	}

	function onClickRemoveMember(member: Member) {
		toast({ title: 'Peserta dihapus', type: 'success' });
		removeMember(member);
	}

	// onMount(() => {});
</script>

<section>
	<img src="/product1.png" alt="fds" class="w-full" />
	<div class="p-4">
		<h1 class="text-primary-500 font-bold text-3xl mb-4">Rp. 127.000.000</h1>
		<div class="flex justify-between items-end">
			<div class="w-1/2">
				<h3 class="text-dark-blue font-bold text-lg">ID4322</h3>
				<p class="text-dark-blue">Sapi Jawa A - 150Kg</p>
			</div>
			<div class="w-1/2 max-w-[12rem]">
				<ButtonGroup class="w-full">
					<Button class="bg-background" on:click={onClickDecrease}
						><Icon icon="ic:outline-minus" color="#34495e" height="18" /></Button
					>
					<Input
						id="input-addon"
						type="email"
						readonly
						placeholder="1"
						class="text-center"
						value={qty}
					/>
					<Button class="bg-background" on:click={onClickIncrease}
						><Icon icon="material-symbols:add" color="#34495e" height="18" /></Button
					>
				</ButtonGroup>
			</div>
		</div>
	</div>
	<Hr class="my-4" height="h-1" />
	<div class="pb-32">
		{#if $members.length}
			<div class="flex px-4">
				<h3 class="text-dark-blue text-xl font-semibold">Data Peserta</h3>
			</div>

			<div class="mt-4 mx-4">
				<Accordion defaultClass="bg-white">
					{#each $members as item}
						<AccordionItem>
							<span slot="header" class="text-base flex gap-2">
								<Icon icon="lucide:user" color="#d4d4d4" height="24" />
								<span class="text-primary-500">{item.name}</span>
							</span>
							<div class="grid grid-cols-2 gap-y-2">
								<InfoDetail label="Jenis Kelamin" value={item.sex} />
								<InfoDetail label="Tanggal lahir" value={item.dob} />
								<InfoDetail label="Nama Ayah" value={item.fatherName} />
								<InfoDetail label="Nama Ibu" value={item.motherName} />
								<InfoDetail label="No. Telepon" value={item.phone} />
							</div>
							<Button
								on:click={() => onClickRemoveMember(item)}
								color="primary"
								outline
								class="w-full !text-primary-500/80 font-semibold mt-3"
								size="sm"
							>
								Hapus
							</Button>
						</AccordionItem>
					{/each}
				</Accordion>
			</div>
		{:else}
			<div class="mt-16 mb-6 flex justify-center">
				<img src="/empty_member.svg" width="20%" alt="empty member" />
			</div>
			<h4 class="font-semibold text-gray-500 text-center">Peserta belum ada</h4>
		{/if}
	</div>

	<div class="fixed bottom-0 inset-x-0 bg-white shadow-lg px-4 py-2">
		<div class="max-w-[48rem] flex gap-2 mx-auto">
			<Button
				on:click={onClicAddMember}
				color="primary"
				outline
				class="w-full !text-primary-500 border border-primary-500 font-semibold"
				size="lg"
			>
				<Icon icon="lucide:user-plus" color="#b32126" height="20" class="pr-2" /> Peserta
			</Button>
			<Button on:click={onClickAddToCart} color="primary" class="w-full font-semibold" size="lg">
				<Icon icon="mi:shopping-cart-add" height="24" color="#fff" class="mr-2" /> Keranjang
			</Button>
			<Button color="alternative" outline class="relative hidden md:block lg:block p-2">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-5 h-5"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
					/>
				</svg>
				{#if $cart.length}
					<div class="absolute top-2 right-3 w-4 h-4 rounded-full bg-red-500 text-white text-xs">
						{$cart.length}
					</div>
				{/if}
			</Button>
		</div>
	</div>
</section>
