<script lang="ts">
	import { page } from '$app/stores';
</script>

<div class="flex justify-center items-center h-[90vh]">
	<div class="text-center">
		<h1 class="text-red-500 font-bold text-xl mb-6">{$page.error.message}</h1>
		<!-- <p> -->
		<a href="/" class="underline text-gray-600 italic">Back to home</a>
	</div>
</div>
