<script lang="ts">
	import CardAchievment from '$lib/components/CardAchievment.svelte';
	import CardMainProduct from '$lib/components/CardMainProduct.svelte';
	import CardBenefit from '$lib/components/CardBenefit.svelte';
	import Footer from '$lib/components/Footer.svelte';

	import Saos from 'saos';
	import Carousel from '$lib/components/Carousel.svelte';

	import type { PageServerData } from './$types';

	export let data: PageServerData;
	const { banner, productCategory, statistics, productValues } = data.props;
</script>

<section>
	<Carousel {banner} />
</section>

<section class="bg-dark-blue py-16 px-4 sm:px-4">
	<Saos
		once={true}
		top={150}
		animation={'slide-in-top 0.7s cubic-bezier(0.35, 0.5, 0.65, 0.95) both'}
	>
		<div class="mx-auto container flex flex-col justify-center items-center">
			<h2 class="text-white font-semibold text-2xl">PRODUK RUMAH QURBAN</h2>
			<div
				class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-6 place-items-center w-full mt-8"
			>
				{#each productCategory as { id, image, title, link } (id)}
					<CardMainProduct img={image} {title} {link} />
				{/each}
			</div>
		</div>
	</Saos>
</section>

<section class="bg-white py-16 px-4 sm:px-4">
	<Saos
		once={true}
		top={150}
		animation={'slide-in-top 0.7s cubic-bezier(0.35, 0.5, 0.65, 0.95) both'}
	>
		<div class="mx-auto container flex flex-col justify-center items-center">
			<div
				class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-6 place-items-center items-start w-full mt-8"
			>
				{#each statistics as { id, title, subtitle } (id)}
					<CardAchievment value={title} label={subtitle} />
				{/each}
			</div>
		</div>
	</Saos>
</section>

<section class="bg-dark-blue py-16 px-4 sm:px-4">
	<Saos
		once={true}
		top={150}
		animation={'slide-in-top 0.7s cubic-bezier(0.35, 0.5, 0.65, 0.95) both'}
	>
		<div class="mx-auto container flex flex-col md:flex-row lg:flex-row items-center gap-12">
			<div class="w-full md:w-1/2 lg:w-1/2">
				<iframe
					width="100%"
					height="315"
					src="https://www.youtube.com/embed/WIXvgQdmx_g"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen
				/>
			</div>
			<div class="w-full md:w-1/2 lg:w-1/2 flex md:block flex-col justify-center">
				<p class="text-3xl md:text-4xl text-white font-bold mb-6 leading-normal md:leading-relaxed">
					KEMBALIKAN MANFAAT, QURBAN KE DESA
				</p>
				<button class="btn btn-primary">Qurban Sekarang</button>
			</div>
		</div>
	</Saos>
</section>

<section class="bg-white py-16 px-4 sm:px-4">
	<div class="mx-auto container flex flex-col justify-center items-center">
		<h2 class="text-dark-blue font-semibold text-2xl text-center leading-relaxed">
			KEBERMANFAATAN RUMAH QURBAN
		</h2>
		<!-- <div
			class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6 justify-center items-center place-items-center mt-8"
		> -->
		<Saos
			once={true}
			top={150}
			animation={'slide-in-top 0.7s cubic-bezier(0.35, 0.5, 0.65, 0.95) both'}
		>
			<div class="flex flex-wrap justify-center items-center w-full gap-4 mt-8">
				{#each productValues as { id, title, description, image } (id)}
					<CardBenefit {title} {description} {image} />
				{/each}
			</div>
		</Saos>
	</div>
</section>

<section class="bg-dark-blue py-16 px-4 sm:px-4">
	<Saos
		once={true}
		top={150}
		animation={'slide-in-top 0.7s cubic-bezier(0.35, 0.5, 0.65, 0.95) both'}
	>
		<div class="mx-auto container flex flex-col md:flex-row lg:flex-row items-center gap-12">
			<div class="w-full md:w-1/2 lg:w-1/2 flex md:block flex-col justify-center">
				<p class="text-3xl md:text-4xl text-white font-bold mb-2 leading-normal md:leading-relaxed">
					BERIBADAH BAIK ITU MUDAH, DI RUMAH QURBAN
				</p>
				<p class="text-xl md:text-2xl text-white font-regular mb-8">
					“Dirikanlah shalat dan berqurbanlah.” <br />(QS. Al Kautsar: 2)
				</p>
				<button class="btn btn-primary">Qurban Sekarang</button>
			</div>
			<div class="w-full md:w-1/2 lg:w-1/2">
				<iframe
					width="100%"
					height="315"
					src="https://www.youtube.com/embed/WIXvgQdmx_g"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen
				/>
			</div>
		</div>
	</Saos>
</section>

<Footer />

<style lang="postcss">
	:global(body) {
		background-color: theme(colors.background);
	}
</style>
