<script>
	import Carousel from '$lib/components/Carousel.svelte';
	import Footer from '$lib/components/Footer.svelte';
	import Header from '$lib/components/Header.svelte';
</script>

<Header title="Value" />
<section
	class="pt-4 md:pt-16 px-4 flex gap-6 container mx-auto flex-col-reverse md:flex-row lg:flex-row"
>
	<div class="w-full md:w-5/6 lg:w-5/6">
		<div class="flex mb-6">
			<p class="text-lg font-normal">
				Lorem ipsum dolor sit amet consectetur. Felis nulla velit quis non. Condimentum mattis morbi
				fames arcu porttitor consectetur lorem morbi. Eu faucibus eu arcu sed. Viverra tellus lectus
				leo
			</p>
			<div class="w-[42rem] flex justify-center">
				<img src="/Aqiqah-Antar.jpg" class="w-full" alt="" />
			</div>
		</div>
		<div class="flex">
			<div class="w-[42rem] flex justify-center">
				<img src="/Aqiqah-Antar.jpg" class="w-full" alt="" />
			</div>
			<p class="text-lg font-normal">
				Lorem ipsum dolor sit amet consectetur. Felis nulla velit quis non. Condimentum mattis morbi
				fames arcu porttitor consectetur lorem morbi. Eu faucibus eu arcu sed. Viverra tellus lectus
				leo
			</p>
		</div>
	</div>
	<div class="w-full md:w-1/6 lg:w-1/6">
		<ul
			class="border-b-2 md:border-b-0 md:border-l-2 border-dark-blue pl-0 md:pl-4 flex md:flex-col"
		>
			<li
				class="text-dark-blue font-semibold text-lg py-3 flex-1 md:flex-auto text-center md:text-left"
			>
				<a href="">Value</a>
			</li>
			<li
				class="text-dark-blue font-semibold text-lg py-3 flex-1 md:flex-auto text-center md:text-left"
			>
				<a href="">Management</a>
			</li>
		</ul>
	</div>
</section>

<Footer />
