<script>
	import Carousel from '$lib/components/Carousel.svelte';
	import Footer from '$lib/components/Footer.svelte';
	import Header from '$lib/components/Header.svelte';
</script>

<Header title="CICILAN" />
<img src="/cicilan.png" class="w-full" alt="" />
<section class="container mx-auto pt-4">
	<h3 class="font-semibold text-dark-blue text-xl text-center">PEMBIAYAAN QURBAN</h3>
	<p class="text-dark-blue/90 text-center mt-3 px-4 md:px-0">
		SAQU merupakan Platform Syariah untuk pembiayaan syariah yang sesuai dengan syariah Islam dan
		fatwa Dewan Syariah Nasional MUI. SAQU melayani pembiayaan Produk Qurban di Rumah Qurban.
	</p>
	<div class="flex justify-center">
		<a href="/" class="btn btn-dark-blue mt-12">Konsultasi Sekarang</a>
	</div>
</section>

<Footer />
