<script>
	import Carousel from '$lib/components/Carousel.svelte';
	import Footer from '$lib/components/Footer.svelte';
	import { Input, Textarea } from '$lib/components/Form';

	import Header from '$lib/components/Header.svelte';
</script>

<Header title="Hubungi Kami" />
<section class="pt-4 md:pt-16 px-4 flex gap-6 container mx-auto flex-col md:flex-row lg:flex-row">
	<div class="w-full md:w-4/6 lg:w-4/6">
		<iframe
			src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15843.122346902244!2d107.6705513!3d-6.9168153!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e792cc0f541d%3A0x4e10a35f486ca8f5!2sAgro%20Surya!5e0!3m2!1sid!2sid!4v1678121961844!5m2!1sid!2sid"
			width="100%"
			height="450"
			style="border:0;"
			allowfullscreen="false"
			loading="lazy"
			referrerpolicy="no-referrer-when-downgrade"
		/>
	</div>
	<div class="w-full md:w-2/6 lg:w-2/6">
		<form action="">
			<div class="mb-4">
				<h3 class="font-semibold text-dark-blue">Feedback</h3>
				<p class="text-dark-blue/90 text-sm">
					Please give us some feedback, it will make us better
				</p>
			</div>
			<div class="mb-4">
				<Input label="Nama" type="text" name="name" id="name" placeholder="Doe" required />
			</div>
			<div class="mb-4">
				<Input
					label="Email"
					type="email"
					name="email"
					id="email"
					placeholder="mail@example.com"
					required
				/>
			</div>
			<div class="mb-4">
				<Textarea
					id="textarea-id"
					label="Pesan"
					placeholder="Your message"
					rows="4"
					name="message"
				/>
			</div>
			<button type="submit" class="btn btn-dark-blue w-full">Kirim</button>
		</form>
	</div>
</section>

<Footer />
