<script>
	import Carousel from '$lib/components/Carousel.svelte';
	import Footer from '$lib/components/Footer.svelte';
	import Header from '$lib/components/Header.svelte';
</script>

<Header title="Artikel" />
<section class="pt-4 md:pt-16 px-4 flex gap-6 container mx-auto flex-col md:flex-row lg:flex-row">
	<div class="w-full md:w-4/6 lg:w-4/6">
		<div class="flex">
			<h1 class="font-bold text-dark-blue text-4xl">Some title can be anyting with text</h1>
		</div>
	</div>
	<div class="w-full md:w-2/6 lg:w-2/6">
		<div class="bg-gray-200/50 rounded-lg px-4 py-3">
			<h3 class="text-dark-blue font-semibold text-lg pb-1 flex-1 md:flex-auto">Kategori</h3>
			<ul class="text-dark-blue/90 mb-4">
				<li><a href="/">kategori 1</a></li>
				<li><a href="/">kategori 1</a></li>
				<li><a href="/">kategori 1</a></li>
			</ul>
			<h3 class="text-dark-blue font-semibold text-lg pb-1 flex-1 md:flex-auto">Terpopuler</h3>
			<ul class="text-dark-blue/90">
				<li><a href="/">Terpopuler 1</a></li>
				<li><a href="/">Terpopuler 1</a></li>
				<li><a href="/">Terpopuler 1</a></li>
			</ul>
		</div>
	</div>
</section>

<section class="mt-6 container mx-auto overflow-x-scroll flex gap-4 px-4 py-6 md:px-4">
	{#each [1, 2, 3, 4] as item}
		<div
			class="grow-0 shrink-0 basis-[calc(40%-theme(space.4))] md:basis-[calc(33%-theme(space.4))] lg:basis-[calc(33%-theme(space.4))]"
		>
			<img src="/bannerproductgroup.png" alt="" />
			<h3 class="text-dark-blue font-semibold mt-2">
				Test 3 dfksjfkdsalfjdakslfjladsfksafjkajfladsjk
			</h3>
			<p class="text-gray-500 text-sm">20 Feb 2023</p>
		</div>
	{/each}
</section>

<Footer />
