<script lang="ts">
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import Icon from '$lib/components/icon.svelte';
	import OptionCity from '$lib/components/OptionCity.svelte';
	import Tab from '$lib/components/Tab.svelte';
	import { TabItem, Tabs } from 'flowbite-svelte';
	import type { Product } from '$lib/models/types';
	import { formatRupiah } from '../../../utils';
	import type { PageServerData } from './$types';
	import { selectedCity } from '$lib/stores';
	import Seo from '$lib/components/Seo.svelte';

	export let data: PageServerData;

	$: ({ productCategory: dataProductCategory, products: dataProducts, seo } = data.props);

	let tabs = [
		{
			id: '1',
			title: 'Qurban Antar',
			link: '/order/qurban-antar'
		},
		{
			id: '2',
			title: 'Qurban Berbagi',
			link: '/order/qurban-berbagi'
		},
		{
			id: '3',
			title: 'Qurban Kaleng',
			link: '/order/qurban-kaleng'
		},
		{
			id: '4',
			title: 'Qurban Box',
			link: '/order/qurban-box'
		}
	];

	let animals = [
		{
			id: '1',
			title: 'Kambing / Domba'
		},
		{
			id: '2',
			title: 'Sapi'
		}
	];

	function onClickEditCity() {
		console.log('edit city');
		goto('/order');
	}
</script>

<svelte:head>
	<Seo title={seo.title} image={seo.image} description={seo.description} url={seo.url} />
</svelte:head>

<section class="bg-dark-blue">
	<div class="px-4 flex items-center justify-between cursor-pointer py-4">
		<!-- <Icon icon="ph:truck" color="#b32126" class="mb-1" height="28" /> -->
		<div class="flex items-end">
			<Icon icon="ph:truck" color="#f4f4f4" class="mb-1" height="28" />
			<div class="ml-4">
				<h4 class="text-white/70 font-semibold text-sm">Mau di kirim ke</h4>
				<h2 class="text-white font-semibold text-lg">{$selectedCity.name}</h2>
			</div>
		</div>

		<div on:click={onClickEditCity}>
			<Icon icon="ic:baseline-mode-edit-outline" color="#f4f4f4" class="opacity-70" height="24" />
		</div>
	</div>
	<div class="bg-background rounded-t-xl px-4 py-6">
		<h4 class="text-dark-blue font-semibold">Pilih Produk</h4>
		<div class="flex flex-wrap gap-2 mt-1">
			{#each dataProductCategory as categoryProduct}
				<button
					class="badge {$page.params.categoryProduct === categoryProduct.slugProductGroup
						? 'bg-primary-500 !text-white !border-0'
						: 'ntah'}"
					on:click={() => goto(categoryProduct.link)}
				>
					{categoryProduct.title}
				</button>
				<!-- <a
					href={categoryProduct.link}
					class="badge {$page.params.categoryProduct === categoryProduct.slugProductGroup
						? 'bg-primary-500 !text-white !border-0'
						: 'ntah'}"
				>
					{categoryProduct.title}
				</a> -->
			{/each}
		</div>
		<h4 class="text-dark-blue font-semibold mt-4">Jenis Hewan</h4>
		<div class="flex flex-wrap gap-2 mt-1">
			{#each animals as item}
				<div class="badge">
					{item.title}
				</div>
			{/each}
		</div>
	</div>

	<div class="bg-background px-4 grid grid-cols-2 gap-3 pb-12">
		{#each dataProducts as item}
			<div
				class="overflow-hidden rounded-lg cursor-pointer shadow-none hover:shadow-lg transition-all"
				on:click={() => {
					goto(`/order/${$page.params.categoryProduct}/${item.slug}`);
				}}
			>
				{JSON.stringify(item)}
				<img src={item.image} alt={item.title} />
				<div class="bg-white px-4 py-2">
					<h1 class="text-primary-500 font-semibold text-lg">
						{formatRupiah(item.price ? item.price : 0)}
					</h1>
					<p class="text-dark-blue/90 text-sm">{item.description}</p>
					<p class="font-semibold text-sm text-dark-blue">{item.title}</p>
				</div>
			</div>
		{/each}
	</div>
	<!-- <Tabs style="underline">
		{#each tabs as item}
			<TabItem
				open
				title={item.title}
				activeClasses="inline-block text-sm font-medium text-center disabled:cursor-not-allowed p-4 text-primary border-b-2 border-primary"
			>
				<p class="text-sm text-gray-500 dark:text-gray-400">
					<b>Profile:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
					incididunt ut labore et dolore magna aliqua.
				</p>
			</TabItem>
		{/each}
	</Tabs> -->
</section>
