<script>
	import Drawer from '$lib/components/drawer.svelte';
	import '../../app.css';

	import Icon from '$lib/components/icon.svelte';
	let hidden = true;
</script>

<div
	class="fixed top-0 inset-x-0 bg-white h-14 max-w-[48rem] mx-auto flex justify-between items-center px-4 border-b border-slate-300"
>
	<img src="/favicon.png" height="24" width="24" alt="logo" />
	<button on:click={() => (hidden = false)}>
		<Icon icon="fa6-solid:bars" height="24" />
	</button>
</div>

<div class="max-w-[48rem] mx-auto">
	<slot />
	<Drawer bind:isHidden={hidden} />
</div>
