<script lang="ts">
	import OptionCity from '$lib/components/OptionCity.svelte';
	import type { PageData } from './$types';

	export let data: PageData;

	const { cities } = data.props;
</script>

<section class="pt-6 bg-background">
	<OptionCity options={cities} />
</section>
