<script lang="ts">
	import { Helper, Input, Label } from 'flowbite-svelte';

	export let id: string;
	export let type: string | 'text';
	export let label: string;
	export let placeholder: string;
	export let required: boolean = false;
	export let disabled: boolean = false;

	export let errorText: string;

	function onFocus(event: Event) {}

	function onKeyup(event: Event) {
		if (errorText) {
			errorText = '';
		}
	}
</script>

<Label for={id} class="mb-2 {errorText ? 'text-primary-500' : null}">{label}</Label>
<Input
	size="lg"
	defaultClass="w-full {errorText ? 'border border-red-500' : ''}"
	{id}
	{type}
	{placeholder}
	{required}
	{disabled}
	on:input
	on:keyup={onKeyup}
	on:focus={onFocus}
	{...$$restProps}
/>

{#if errorText}
	<Helper class="mt-2" color="red">{errorText}</Helper>
{/if}
