<script lang="ts">
	import { z } from 'zod';
	import { Button, Modal, Radio } from 'flowbite-svelte';
	import { isModalFormMemberOpen, members } from '$lib/stores';
	import Input from './Input.svelte';
	import Icon from '../icon.svelte';
	import { toast } from '$lib/stores/notifications';
	import { addMember } from '$lib/stores/member';
	import RadioButton from './RadioButton.svelte';
	import type { RadioButtonOption } from '$lib/models/types/form.types';

	$: $isModalFormMemberOpen;

	const nameSchema = z.string().trim().min(2, { message: 'Minimal 2 karaketer' });
	const sexSchema = z.enum(['m', 'f']);
	const dobSchema = z.string();
	const fatherNameSchema = z.string().trim().min(2, { message: 'Minimal 2 karaketer' });
	const motherNameSchema = z.string().trim().min(2, { message: 'Minimal 2 karaketer' });
	const phoneSchema = z
		.string()
		.trim()
		.min(10, { message: 'Minimal 10 karaketer' })
		.max(15, { message: 'Terlalu panjang' });

	const memberSchema = z.object({
		name: nameSchema,
		sex: sexSchema,
		dob: dobSchema,
		fatherName: fatherNameSchema,
		motherName: motherNameSchema,
		phone: phoneSchema
	});

	let initialValues = {
		name: '',
		dob: '',
		sex: 'm',
		fatherName: '',
		motherName: '',
		phone: ''
	};

	let values = initialValues;
	let errors: any = {};
	let touched = {};

	const sexOptions: RadioButtonOption[] = [
		{ label: 'Male', value: 'm' },
		{ label: 'Female', value: 'f' }
	];

	async function handleSubmit() {
		try {
			const validatedValues = memberSchema.parse(values);
			// submit form data to server here
			// console.log('validate', validatedValues);
			toast({ title: 'Peserta ditambahkan', type: 'success' });

			addMember(validatedValues);

			$isModalFormMemberOpen = false;
		} catch (error) {
			if (error instanceof z.ZodError) {
				const { fieldErrors } = error.flatten();
				errors = fieldErrors;
			}
		}
	}

	const handleChange = (event: Event) => {
		const { name, value } = event.target as HTMLInputElement | HTMLSelectElement;
		// console.log('change', event.target);
		values = { ...values, [name]: value };
		touched = { ...touched, [name]: true };
		if (errors[name]) {
			delete errors[name];
		}
	};
</script>

<Modal
	title="Data Peserta"
	bind:open={$isModalFormMemberOpen}
	placement="bottom-center"
	size="xs"
	class="w-full"
>
	<form on:submit|preventDefault={handleSubmit}>
		<div class="grid gap-6">
			<div>
				<Input
					id="name"
					name="name"
					label="Nama"
					type="text"
					placeholder="Nama lengkap"
					required
					on:input={handleChange}
					errorText={errors['name'] ? errors['name'] : ''}
				/>
			</div>
			<div>
				<div class="grid grid-cols-2 gap-6">
					<RadioButton
						name="sex"
						options={sexOptions}
						on:change={handleChange}
						errorText={errors['sex'] ? errors['sex'] : ''}
						required
					/>
					<!-- <div class="rounded border border-gray-200 dark:border-gray-700">
						<Radio
							name="sex"
							class="w-full p-4"
							value="m"
							on:change={handleChange}
							on:focus={clearError('sex')}
							required>Laki - laki</Radio
						>
					</div>
					<div class="rounded border border-gray-200 dark:border-gray-700">
						<Radio
							name="sex"
							class="w-full p-4"
							value="f"
							on:change={handleChange}
							on:focus={clearError('sex')}
							required>Perempuan</Radio
						>
					</div> -->
				</div>
			</div>
			<div>
				<Input
					id="dob"
					name="dob"
					label="Tanggal Lahir"
					type="date"
					placeholder="YYYY-MM-DD"
					pattern="\d{4}-\d{2}-\d{2}"
					required
					on:input={handleChange}
					errorText={errors['dob'] ? errors['dob'] : ''}
				/>
			</div>
			<div>
				<Input
					id="fatherName"
					name="fatherName"
					label="Nama Ayah"
					type="text"
					placeholder="Nama ayah"
					required
					on:input={handleChange}
					errorText={errors['fatherName'] ? errors['fatherName'] : ''}
				/>
			</div>
			<div>
				<Input
					id="motherName"
					name="motherName"
					label="Nama Ibu"
					type="text"
					placeholder="Nama ibu"
					required
					on:input={handleChange}
					errorText={errors['motherName'] ? errors['motherName'] : ''}
				/>
			</div>
			<div>
				<Input
					id="phone"
					name="phone"
					label="No. Telepon"
					type="text"
					placeholder="0812xxxx"
					required
					on:input={handleChange}
					errorText={errors['phone'] ? errors['phone'] : ''}
				/>
			</div>

			<Button
				type="submit"
				color="primary"
				outline
				class="w-full !text-primary-500 border border-primary-500 font-semibold"
				size="lg"
			>
				<Icon icon="lucide:user-plus" color="#b32126" height="20" class="pr-2" /> Simpan Peserta
			</Button>
		</div>
		<!-- <svelte:fragment slot="footer">
			<Button
				on:click={saveMember}
				color="primary"
				outline
				class="w-full !text-primary-500 border border-primary-500 font-semibold"
				size="lg"
			>
				<Icon icon="lucide:user-plus" color="#b32126" height="20" class="pr-2" /> Simpan Peserta
			</Button>
		</svelte:fragment> -->
	</form>
</Modal>
