<script lang="ts">
	import type { RadioButtonOption } from '$lib/models/types/form.types';
	import { Helper, Radio } from 'flowbite-svelte';

	export let name: string;
	export let options: RadioButtonOption[] = [];
	export let value: string = '';
	export let required: boolean = false;
	export let errorText: string;
</script>

{#each options as option}
	<div class="rounded border border-gray-200 dark:border-gray-700">
		<Radio
			class="w-full p-4"
			id={option.value}
			{name}
			value={option.value}
			checked={value === option.value}
			{required}
			on:change
			on:focus>{option.label}</Radio
		>
	</div>
{/each}

{#if errorText}
	<Helper class="mt-2" color="red">{errorText}</Helper>
{/if}
