<script lang="ts">
	import { Helper, Input, Label, Select } from 'flowbite-svelte';

	export let id: string,
		label: string,
		errorText: string = '',
		name: string = '';
</script>

<Label for={id} class="mb-2">{label}</Label>
<Select size="lg" {id} {name} {...$$restProps} />

{#if errorText}
	<Helper class="mt-2" color="red">{errorText}</Helper>
{/if}
