<script lang="ts">
	import { goto } from '$app/navigation';
	import { Input, Select, Textarea } from '$lib/components/Form';
	import Icon from '$lib/components/icon.svelte';
	import InfoDetail from '$lib/components/InfoDetail.svelte';
	import {
		Accordion,
		AccordionItem,
		Button,
		ButtonGroup,
		Input as InputFB,
		Helper,
		Label
		// Select,
		// Textarea
	} from 'flowbite-svelte';
	import type { Member } from '$lib/models/types/member.types';

	let members: Member[] = [
		{
			name: 'madun',
			sex: 'm',
			dob: new Date().toLocaleDateString(),
			fatherName: 'Nama ayah madun',
			motherName: 'Nama ibu madun',
			phone: '081286130566'
		},
		{
			name: 'madun 2',
			sex: 'm',
			dob: new Date().toLocaleDateString(),
			fatherName: 'Nama ayah madun',
			motherName: 'Nama ibu madun',
			phone: '081286130566'
		},
		{
			name: 'madun 4',
			sex: 'm',
			dob: new Date().toLocaleDateString(),
			fatherName: 'Nama ayah madun',
			motherName: 'Nama ibu madun',
			phone: '081286130566'
		},
		{
			name: 'madun',
			sex: 'm',
			dob: new Date().toLocaleDateString(),
			fatherName: 'Nama ayah madun',
			motherName: 'Nama ibu madun',
			phone: '081286130566'
		}
	];
</script>

<section class="pt-4 pb-20 bg-background px-4">
	<form>
		<h3 class="text-dark-blue text-xl font-semibold mb-3">Pesanan</h3>
		<div class="grid gap-6 mb-8 md:grid-cols-2">
			<div>
				<Input
					id="name"
					label="Nama"
					type="text"
					placeholder="Nama lengkap"
					errorText=""
					required
				/>
			</div>
			<div>
				<Input
					id="email"
					label="Email"
					type="email"
					placeholder="mail@example.com"
					errorText=""
					required
				/>
			</div>
			<div>
				<Input
					id="telepon"
					label="Telepon"
					type="tel"
					placeholder="0812xxxxx"
					errorText=""
					required
				/>
			</div>
			<div>
				<Input
					id="sumber_informasi"
					label="Sumber Informasi"
					type="text"
					placeholder="Instagram / facebook / twitter"
					errorText=""
					required
				/>
			</div>
		</div>
		<!-- Alamat -->
		<h3 class="text-dark-blue text-xl font-semibold mb-3">Alamat Pengiriman</h3>
		<div class="grid gap-6 mb-8 md:grid-cols-2">
			<div>
				<Select
					id="city"
					label="Kota"
					errorText=""
					required
					items={[{ value: '1', name: 'Bandung' }]}
					value="1"
				/>
			</div>
			<div>
				<Select
					id="district"
					label="Kecamatan"
					errorText=""
					required
					items={[{ value: '1', name: 'Buahbatu' }]}
					value="1"
				/>
			</div>
			<div>
				<Textarea id="address" label="Alamat lengkap" rows="4" name="address" />
			</div>
			<div>
				<Input
					id="send_date"
					label="Tanggal Pengiriman"
					type="date"
					placeholder="YYYY-MM-DD"
					pattern="\d{4}-\d{2}-\d{2}"
					errorText=""
					required
				/>
			</div>
		</div>

		<!-- Data Peserta -->
		<h3 class="text-dark-blue text-xl font-semibold mb-3">Data Peserta</h3>
		<div class="mb-8">
			<Accordion defaultClass="bg-white">
				{#each members as item}
					<AccordionItem>
						<span slot="header" class="text-base flex gap-2">
							<Icon icon="lucide:user" color="#d4d4d4" height="24" />
							<span class="text-primary-500">{item.name}</span>
						</span>
						<div class="grid grid-cols-2 gap-y-2">
							<InfoDetail label="Jenis Kelamin" value={item.sex} />
							<InfoDetail label="Tanggal lahir" value={item.dob} />
							<InfoDetail label="Nama Ayah" value={item.fatherName} />
							<InfoDetail label="Nama Ibu" value={item.motherName} />
							<InfoDetail label="No. Telepon" value={item.phone} />
						</div>
					</AccordionItem>
				{/each}
			</Accordion>
			<div class="mt-3">
				<Button color="primary" outline class="w-full !text-primary-500 !outline-none" size="xs">
					<Icon icon="lucide:user-plus" color="#b32126" height="24" class="pr-2" /> Peserta
				</Button>
			</div>
		</div>

		<!-- Pembayaran -->
		<h3 class="text-dark-blue text-xl font-semibold mb-3">Pembayaran</h3>
		<div class="grid gap-6 mb-8 md:grid-cols-2">
			<div>
				<Select
					id="payment_method"
					label="Metode Pembayaran"
					errorText=""
					required
					items={[{ value: '1', name: 'Transfer' }]}
					value="1"
				/>
			</div>
			<div>
				<Select
					id="bank"
					label="Bank"
					errorText=""
					required
					items={[{ value: '1', name: 'BNI' }]}
					value="1"
				/>
			</div>
			<div>
				<Label for="promo_code" class="mb-2">Promo</Label>
				<ButtonGroup class="w-full">
					<InputFB size="lg" id="promo_code" type="text" placeholder="promo code" />
					<Button color="primary">Cek</Button>
				</ButtonGroup>
				<Helper class="mt-2" color="red"
					><span class="font-medium">Oh, snapp!</span> Some error message.</Helper
				>
			</div>
		</div>

		<!-- Detail Pesanan -->
		<h3 class="text-dark-blue text-xl font-semibold mb-3">Detail Pesanan</h3>
		<div class="bg-white shadow px-4 py-2 rounded-lg">
			<h1 class="text-dark-blue font-bold text-lg">QA SAPI BALI</h1>
			<p class="text-dark-blue/70 text-sm">Rp. 17.000.000 x 2</p>
		</div>

		<!-- button -->
		<div class="fixed bottom-0 inset-x-0 bg-white shadow-lg px-4 py-2">
			<div class="max-w-[48rem] flex gap-2 mx-auto">
				<div class="w-full">
					<h1 class="text-red-500 font-bold text-lg">Rp. 34.000.000</h1>
					<p class="text-dark-blue/70 text-sm">Total bayar</p>
				</div>
				<Button
					on:click={() => goto('/order/summary/testidtransaksi')}
					color="primary"
					class="w-full font-semibold"
					size="md"
				>
					<Icon icon="mdi:shield-check" height="24" color="#fff" class="mr-2" /> Bayar Sekarang
				</Button>
			</div>
		</div>
	</form>
</section>
