@tailwind base;
@tailwind components;
@tailwind utilities;

/* loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  /* width: 80px; */
  /* height: 80px; */
  @apply w-20 h-12
}
.lds-ellipsis div {
  position: absolute;
  /* top: 33px; */
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);

  @apply bg-red-500 top-5
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

    

@keyframes -global-slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  } 
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  } 
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  } 
}

.btn {
  @apply px-5 py-2.5 rounded-lg
}

.btn.btn-primary{
  @apply bg-primary-500 text-white
}

.btn.btn-dark-blue{
  @apply bg-dark-blue text-white
}

.badge {
  @apply border-dark-blue/80 text-dark-blue/90 border px-2 py-1 text-xs text-center rounded-md hover:bg-primary-500 hover:text-white hover:border-primary-500 cursor-pointer transition-all
}