<script>
	export let title = 'title';
	export let description = 'desc';
	export let image = '/';
</script>

<div class="bg-white rounded-lg w-full max-w-[11rem] md:max-w-[20rem] py-8">
	<img src={image} class="w-24 object-cover rounded-lg mx-auto" alt="" />
	<h4 class="font-medium text-center mb-2 mt-4">{title}</h4>
	<p class="text-center text-sm mb-4">{description}</p>
</div>
