<script>
	export let value = '0';
	export let label = 'some text';
</script>

<div class="bg-white rounded-lg w-full max-w-[11rem] py-8">
	<h2 class="text-dark-blue text-6xl font-bold text-center">{value}</h2>
	<p class="font-medium text-center my-4">{label}</p>
</div>
