<script>
	export let img = '/Aqiqah-Antar.jpg';
	export let title = 'QURBAN ANTAR';
	export let link = '/Aqiqah-Antar.jpg';
</script>

<div class="bg-white rounded-lg w-full max-w-[12rem] py-8">
	<img src={img} class="w-24 h-24 object-cover overflow-hidden rounded-full mx-auto" alt="" />
	<p class="font-medium text-center my-4">{title}</p>
	<div class="flex justify-center">
		<a href={link} class="btn btn-dark-blue">Selengkapnya</a>
	</div>
</div>
