<script lang="ts">
	import Carousel from 'svelte-carousel';
	import { browser } from '$app/environment';
	import Icon from '$lib/components/icon.svelte';
	import type { BannerProduct } from '$lib/models/types';

	export let banner: BannerProduct[];

	let carousel;
	let colors = [
		{
			color: '#d4d4d4',
			text: 'text 5'
		},
		{
			color: '#d4d4d6',
			text: 'text 3'
		},
		{
			color: '#d4d4d',
			text: 'text 1'
		}
	];

	function showPrevPage() {
		carousel.goToPrev({ animated: true });
	}

	function showNextPage() {
		carousel.goToNext({ animated: true });
	}
</script>

{#if browser}
	<div class="relative">
		<Carousel bind:this={carousel} let:currentPageIndex let:pagesCount let:showPage>
			<div slot="dots">
				<!-- custome dot here -->
			</div>
			<div slot="prev" on:click={showPrevPage} class="custom-arrow left-0 w-8">
				<Icon icon="material-symbols:arrow-back-ios-new-rounded" height="24" color="#fff" />
			</div>
			{#each banner as { id, imageSmall, title, link } (id)}
				<div class="h-full">
					<a href={link ? link : '/'}>
						<img src={imageSmall} alt={title} class="w-full" />
					</a>
				</div>
			{/each}
			<div slot="next" on:click={showNextPage} class="custom-arrow right-0 w-8">
				<Icon icon="material-symbols:arrow-forward-ios-rounded" height="24" color="#fff" />
			</div>
		</Carousel>
	</div>
{/if}

<style lang="css">
	.custom-arrow {
		/* width: 20px; */
		background-color: #000000;
		opacity: 0.3;
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		transition: opacity 150ms ease;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
	}
</style>
