<script>
	import {
		Drawer,
		Button,
		CloseButton,
		Sidebar,
		SidebarBrand,
		SidebarCta,
		SidebarDropdownItem,
		SidebarDropdownWrapper,
		SidebarGroup,
		SidebarItem,
		SidebarWrapper
	} from 'flowbite-svelte';
	import { navigating } from '$app/stores';
	import { sineIn } from 'svelte/easing';
	import Icon from './icon.svelte';

	export let isHidden = true;
	let spanClass = 'flex-1 ml-3 whitespace-nowrap';
	let transitionParams = {
		x: 180,
		duration: 200,
		easing: sineIn
	};

	$: if ($navigating) isHidden = true;
</script>

<!-- <div class="text-center">
  <Button on:click={() => (isHidden = false)}>Show navigation</Button>
</div> -->
<Drawer
	placement="right"
	class="w-[100%] max-w-[18rem]"
	transitionType="fly"
	{transitionParams}
	bind:hidden={isHidden}
	id="sidebar2"
>
	<div class="flex items-center">
		<h5
			id="drawer-navigation-label-3"
			class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400"
		>
			Menu
		</h5>
		<CloseButton on:click={() => (isHidden = true)} class="mb-4 dark:text-white" />
	</div>
	<Sidebar>
		<SidebarWrapper divClass="overflow-y-auto py-4 px-3 rounded dark:bg-gray-800">
			<SidebarGroup>
				<SidebarItem href="/" label="Beranda">
					<svelte:fragment slot="icon">
						<Icon icon="material-symbols:home" height="20" />
					</svelte:fragment>
				</SidebarItem>
				<SidebarDropdownWrapper label="Produk">
					<svelte:fragment slot="icon">
						<Icon icon="fluent-mdl2:product-variant" height="20" />
					</svelte:fragment>
					<SidebarDropdownItem href="/product/qurban-antar" label="Qurban Antar" />
					<SidebarDropdownItem href="/product/qurban-berbagi" label="Qurban Berbagi" />
					<SidebarDropdownItem href="/product/qurban-kaleng" label="Qurban Kaleng" />
					<SidebarDropdownItem href="/product/qurban-box" label="Qurban Box" />
				</SidebarDropdownWrapper>
				<SidebarDropdownWrapper label="Info">
					<svelte:fragment slot="icon">
						<Icon icon="material-symbols:data-info-alert-rounded" height="24" />
					</svelte:fragment>
					<SidebarDropdownItem href="/article" label="Artikel" />
					<SidebarDropdownItem href="/credit" label="Cicilan" />
				</SidebarDropdownWrapper>
				<SidebarItem href="/order" label="Pesanan">
					<svelte:fragment slot="icon">
						<Icon icon="clarity:store-solid" height="20" />
					</svelte:fragment>
				</SidebarItem>
				<SidebarItem href="/about-us" label="Tentang Kami">
					<svelte:fragment slot="icon">
						<Icon icon="mingcute:building-1-line" height="20" />
					</svelte:fragment>
				</SidebarItem>
				<SidebarItem href="/contact-us" label="Hubungi Kami">
					<svelte:fragment slot="icon">
						<Icon icon="material-symbols:call" height="20" />
					</svelte:fragment>
				</SidebarItem>
				<SidebarItem label="WhatsApp" {spanClass}>
					<svelte:fragment slot="icon">
						<Icon icon="logos:whatsapp-icon" height="20" />
					</svelte:fragment>
				</SidebarItem>
			</SidebarGroup>
		</SidebarWrapper>
	</Sidebar>
</Drawer>
