<script>
	import Icon from './icon.svelte';
	import Saos from 'saos';
</script>

<footer class="pt-16 pb-6 px-8 sm:px-4">
	<Saos
		once={true}
		top={150}
		animation={'slide-in-top 0.7s cubic-bezier(0.35, 0.5, 0.65, 0.95) both'}
	>
		<div
			class="footer mx-auto container flex flex-wrap md:flex-nowrap justify-start md:justify-evenly gap-12 text-dark-blue"
		>
			<div class="w-full md:w-4/12">
				<img src="/logo-agro.png" class="w-2/3 mb-2" alt="Rumah Qurban" srcset="" />
				<p class="text-xs font-semibold">KEMBALIKAN MANFAAT QURBAN KE DESA</p>
			</div>
			<div class="grid grid-cols-2 md:grid-cols-3 gap-6">
				<div class="">
					<h4 class="mb-4">PRODUK</h4>
					<ul>
						<li><a href="/">QURBAN ANTAR</a></li>
						<li><a href="/">QURBAN BERBAGI</a></li>
						<li><a href="/">QURBAN KALENG</a></li>
						<li><a href="/">QURBAN BOX</a></li>
					</ul>
				</div>
				<div class="">
					<h4 class="mb-4">SOCIAL MEDIA</h4>
					<ul>
						<li><a href="/">FACEBOOK</a></li>
						<li><a href="/">INSTAGRAM</a></li>
						<li><a href="/">YOUTUBE</a></li>
						<li><a href="/">TIKTOK</a></li>
					</ul>
				</div>
				<div class="">
					<h4 class="mb-4">KONTAK</h4>
					<div class="flex items-start w-[16rem] gap-4 mb-2">
						<Icon icon="material-symbols:home" height="20" class="mt-2" />
						<p class="text-lg md:text-sm">
							Jl. Golf Barat Raya No. 36 Sukamiskin, Kec. Arcamanik, Kota Bandung, Jawa Barat 40293
						</p>
					</div>
					<div class="flex items-center w-full md:w-[16rem] gap-4 mb-3">
						<Icon icon="mdi:email" height="20" class="mt-0" />
						<a class="text-lg md:text-sm" href="mailto:care@rumahaqiqah.co.id"
							>care@rumahaqiqah.co.id</a
						>
					</div>
					<div class="flex items-center w-full md:w-[16rem] gap-4 mb-4">
						<Icon icon="material-symbols:phone-enabled" height="20" class="mt-0" />
						<a class="text-lg md:text-sm" href="tel:6281320489885">+6281320489885</a>
					</div>
				</div>
			</div>
		</div>
	</Saos>
	<div class="border-t border-t-dark-blue/30 text-center pt-4 mt-4">
		<p class="opacity-50 text-xs font-semibold">RUMAH QURBAN @2023</p>
		<p class="opacity-50 text-xs">Crafted By <b>Agrosurya</b></p>
	</div>
</footer>

<style lang="css">
	.footer ul li {
		@apply pb-2;
	}

	.footer ul li:hover {
		@apply text-primary-500 cursor-pointer;
	}

	.footer h4 {
		@apply font-semibold;
	}
</style>
