<script>
	export let title = 'title';
</script>

<header class="bg-dark-blue">
	<div class="mx-auto container flex py-5 px-4 md:px-0">
		<h1 class="text-2xl font-semibold text-white uppercase">{title}</h1>
	</div>
</header>
