<script lang="ts">
	export let label: string = 'label';
	export let value: string = 'value';
</script>

<div {...$$restProps}>
	<span class="text-xs font-semibold text-dark-blue/50">{label}</span>
	<p class="text-dark-blue">{value}</p>
</div>
