<div class="fixed inset-0 bg-black/50 z-50 flex justify-center items-center">
	<div class="rounded-lg bg-white shadow-lg">
		<div class="lds-ellipsis">
			<div />
			<div />
			<div />
			<div />
		</div>
	</div>
</div>
