<script lang="ts">
	import {
		Navbar,
		NavBrand,
		NavHamburger,
		NavUl,
		NavLi,
		Chevron,
		MegaMenu,
		Dropdown,
		DropdownItem,
		DropdownDivider
	} from 'flowbite-svelte';
	import Drawer from '$lib/components/drawer.svelte';
	import Icon from '$lib/components/icon.svelte';
	import { goto } from '$app/navigation';
	import Cart from './Cart.svelte';

	export let menus: object[] = [];

	let hiddenDrawer = true;

	let menu = [
		{ name: 'Qurban Antar', href: '/product/qurban-antar' },
		{ name: 'Qurban Berbagi', href: '/product/qurban-berbagi' },
		{ name: 'Qurban Kaleng', href: '/product/qurban-kaleng' },
		{ name: 'Qurban Box', href: '/product/qurban-box' }
	];

	let menu2 = [
		{ name: 'Artikel', href: '/article' },
		{ name: 'Cicilan', href: '/credit' }
	];
</script>

<Navbar
	let:hidden
	let:toggle
	class="fixed top-0 inset-x-0 h-14 flex items-center z-20"
	style="padding-top:0px;padding-bottom:0px"
>
	<NavBrand href="/">
		<img src="/logo-agro.png" class="w-[8rem]" alt="logo" />
	</NavBrand>
	<!-- <NavHamburger on:click={toggle} /> -->
	<div class="flex items-center">
		<Cart />
		<button class="block md:hidden lg:hidden p-2" on:click={() => (hiddenDrawer = false)}>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				fill="none"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				class="w-6 h-6"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
				/>
			</svg>
		</button>
	</div>
	<NavUl {hidden}>
		<NavLi href="/" class="hover:!text-primary cursor-pointer">Beranda</NavLi>
		<NavLi id="nav-menu1" class="hover:!text-primary-500 cursor-pointer"
			><Chevron aligned>Produk</Chevron></NavLi
		>
		<Dropdown triggeredBy="#nav-menu1" class="w-44 z-20">
			{#each menu as { name, href }, pageIndex (name)}
				<DropdownItem on:click={() => goto(href)}
					><span class="uppercase">{name}</span></DropdownItem
				>
				{#if menu.length > pageIndex + 1}
					<DropdownDivider />
				{/if}
			{/each}
		</Dropdown>
		<NavLi id="nav-menu2" class="hover:!text-primary-500 cursor-pointer"
			><Chevron aligned>Info</Chevron></NavLi
		>
		<Dropdown triggeredBy="#nav-menu2" class="w-44 z-20">
			{#each menu2 as { name, href }, pageIndex (name)}
				<DropdownItem on:click={() => goto(href)}
					><span class="uppercase">{name}</span></DropdownItem
				>
				{#if menu2.length > pageIndex + 1}
					<DropdownDivider />
				{/if}
			{/each}
		</Dropdown>
		<NavLi href="/order" class="hover:!text-primary-500 cursor-pointer">Pesanan</NavLi>
		<NavLi href="/about-us" class="hover:!text-primary-500 cursor-pointer">Tentang kami</NavLi>
		<NavLi href="/contact-us" class="hover:!text-primary-500 cursor-pointer">Hubungi kami</NavLi>
	</NavUl>
	<a href="api.whatsapp.com" class="hidden md:hidden lg:block">Whatsapp</a>
</Navbar>

<Drawer bind:isHidden={hiddenDrawer} />
