<script lang="ts">
	import { goto } from '$app/navigation';
	import type { City } from '$lib/models/types';
	import { selectedCity, setCity } from '$lib/stores';

	export let options: any = [];

	$: selectedCity;

	function onClickCity(selected: City) {
		// selectedCity = { id, name };
		setCity(selected);
		goto(`/order/qurban-antar?city=${selected.id}`);
	}
</script>

<section class="px-4">
	<h2 class="text-dark-blue font-bold text-3xl w-2/3">Mau di kirim ke Kota mana?</h2>
	{JSON.stringify($selectedCity)}
	<div class="flex flex-wrap gap-4 mt-8">
		{#each options as { id, name } (id)}
			<div
				class="border border-dark-blue/10 px-4 py-3 text-semibold rounded-lg cursor-pointer text-center text-dark-blue hover:bg-primary-500 hover:text-white hover:border-none transition-all {$selectedCity?.id ===
				id
					? 'bg-primary-500 text-white'
					: ''}"
				on:click={() => onClickCity({ id, name })}
			>
				{name}
			</div>
		{/each}
	</div>
</section>
