<script lang="ts">
	export let title: string = 'Title';
	export let description: string = 'description';
	export let image: string = '/logo-agro.png';
	export let url: string = '/';
	export let siteName: string = 'Agro Qurban';
</script>

<!-- <svelte:head> -->
<title>{title}</title>

<meta content={description} name="description" />

<meta content={title} property="og:title" />
<meta content={image} property="og:image" />
<meta content={url} property="og:url" />
<meta content={description} property="og:description" />
<meta content={siteName} property="og:site_name" />

<!-- <meta content={twitterHandle} name="twitter:creator" /> -->
<meta content="summary_large_image" name="twitter:card" />
<meta content={title} name="twitter:title" />
<meta content={description} name="twitter:description" />
<meta content={image} name="twitter:image" />

<meta name="robots" content="index,follow" />
<!-- </svelte:head> -->
