<script lang="ts">
	import { notifications } from '$lib/stores';
	import { Toast } from 'flowbite-svelte';
	import { blur, fade, fly } from 'svelte/transition';
	// import { notifications } from ''
</script>

{#if $notifications}
	<!-- <div class="">
		{#each $notifications as notification}
			<div role="alert" class="notification" transition:fade>
				{notification}
			</div>
		{/each}
	</div> -->
	<div class="fixed top-14 inset-x-4 z-20">
		{#each $notifications as notification}
			<Toast
				color={notification.type === 'success' ? 'green' : 'red'}
				transition={fly}
				params={{ y: -10, duration: 500 }}
				class="mx-auto mt-2"
			>
				<svelte:fragment slot="icon">
					{#if notification.type === 'success'}
						<svg
							aria-hidden="true"
							class="w-5 h-5"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
								clip-rule="evenodd"
							/></svg
						>
					{/if}
					{#if notification.type === 'error'}
						<svg
							aria-hidden="true"
							class="w-5 h-5"
							fill="currentColor"
							viewBox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							><path
								fill-rule="evenodd"
								d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
								clip-rule="evenodd"
							/></svg
						>
					{/if}
				</svelte:fragment>
				{notification.title}
			</Toast>
		{/each}
	</div>
{/if}
