<script lang="ts">
	import Carousel from 'svelte-carousel';
	import { browser } from '$app/environment';
	import Icon from '$lib/components/icon.svelte';
	import Header from '$lib/components/Header.svelte';
	import type { LandingPageProduct } from '$lib/models/types';
	// import type { PageData } from './$types';
	import { goto } from '$app/navigation';
	import { formatRupiah, generateRange } from '../../../utils';
	import Footer from '$lib/components/Footer.svelte';
	import type { PageServerData } from './$types';
	import Seo from '$lib/components/Seo.svelte';

	export let data: PageServerData;

	$: dataProduct = data;

	let carousel: Carousel;

	function showPrevPage() {
		carousel.goToPrev({ animated: true });
	}

	function showNextPage() {
		carousel.goToNext({ animated: true });
	}
</script>

<Seo
	title={dataProduct.title}
	url="/product/{dataProduct.title}"
	image={dataProduct.banners[0]}
	description="Product Qurban"
/>

<Header bind:title={dataProduct.title} />
<section class="container mx-auto mt-0 md:mt-8">
	{#if browser}
		<div class="relative">
			<Carousel bind:this={carousel} let:currentPageIndex let:pagesCount let:showPage>
				<div slot="dots" class="flex items-center z-10 mt-[-1rem] gap-1">
					<!-- custome dot here -->
					{#if pagesCount > 1}
						{#each Array(pagesCount) as _, pageIndex (pageIndex)}
							<div
								class="bg-primary-500 rounded-full {currentPageIndex === pageIndex
									? 'w-4 h-2 opacity-90'
									: 'w-2 h-2 opacity-50'}"
							/>
						{/each}
					{/if}
				</div>
				<div
					slot="prev"
					on:click={showPrevPage}
					class="custom-arrow rounded-none md:rounded-l-xl left-0 w-8"
				>
					<Icon icon="material-symbols:arrow-back-ios-new-rounded" height="24" color="#fff" />
				</div>
				{#each dataProduct.banners as { id, title, link, imageSmall, imageLarge, labelCta } (id)}
					<div class="h-full rounded-none md:rounded-xl overflow-hidden relative">
						<img src={imageSmall} alt={title} class="w-full" />
						<div class="absolute top-[20%] md:top-[45%] inset-x-12 md:left-[50%]">
							<h3 class="text-3xl font-semibold text-dark-blue w-full md:w-[28rem] mb-3">
								{title}
							</h3>
							<button
								on:click={() => goto(link, { replaceState: true })}
								class="px-6 py-2 border border-dark-blue font-semibold text-dark-blue"
								>{labelCta}</button
							>
						</div>
					</div>
				{/each}
				<div
					slot="next"
					on:click={showNextPage}
					class="custom-arrow rounded-none md:rounded-r-xl right-0 w-8"
				>
					<Icon icon="material-symbols:arrow-forward-ios-rounded" height="24" color="#fff" />
				</div>
			</Carousel>
		</div>
	{/if}
</section>

<section class="container mx-auto mt-8 py-6">
	<h3
		class="text-xl md:text-2xl text-center font-semibold text-dark-blue pb-4 border-b-2 border-dark-blue"
	>
		PRODUK {dataProduct.title}
	</h3>
	<div class="px-4 md:px-0 flex flex-wrap justify-center gap-4 mt-8">
		{#each dataProduct.products as { id, title, image, price, rangePrice, description } (id)}
			<div
				class="grow-0 shrink-0 basis-full md:basis-[calc(50%-theme(space.4))] lg:basis-[calc(33%-theme(space.4))] bg-dark-blue rounded-xl flex flex-col justify-center shadow pb-6"
			>
				<img src={image} class="w-52 h-full mx-auto" alt={title} />
				<span class="text-white font-semibold text-center text-lg pb-4">{title}</span>
				<span class="text-white text-center pb-2"
					>{price ? formatRupiah(price) : generateRange(rangePrice ? rangePrice : [])}</span
				>
				{#if description}
					<span class="text-white text-center">{description}</span>
				{/if}

				<button
					class="flex rounded-lg self-center px-6 py-3 bg-primary-500 font-semibold text-white mt-6"
					on:click={() => goto('/')}>Selengkapnya</button
				>
			</div>
		{/each}
	</div>
</section>

{#if dataProduct.productValues.length > 0}
	<section class="container mx-auto mt-8 py-6">
		<h3
			class="text-xl md:text-2xl text-center font-semibold text-dark-blue pb-4 border-b-2 border-dark-blue"
		>
			MENGAPA {dataProduct.title}
		</h3>
		<div class="px-4 md:px-0 flex flex-wrap justify-center gap-4 mt-8">
			{#each dataProduct.productValues as { id, image, title, description } (id)}
				<div
					class="grow-0 shrink-0 basis-full md:basis-[calc(50%-theme(space.4))] lg:basis-[calc(33%-theme(space.4))] pb-6"
				>
					<img
						src={image}
						class="w-32 rounded-full border border-gray-300 mx-auto mb-2"
						alt={title}
					/>
					<h4 class="text-dark-blue font-semibold text-center text-lg pb-4">{title}</h4>
					<p class="text-dark-blue text-center opacity-75">{description}</p>
				</div>
			{/each}
		</div>
	</section>
{/if}

{#if dataProduct.productFlows.length > 0}
	<section class="bg-dark-blue mt-8 py-6">
		<div class="container mx-auto">
			<h3 class="text-xl md:text-2xl text-center font-semibold text-white pb-4">
				PROSES {dataProduct.title}
			</h3>
			<div class="px-4 md:px-0 flex flex-wrap justify-center gap-4 mt-8">
				{#each dataProduct.productFlows as { id, image, title, description } (id)}
					<div
						class="grow-0 shrink-0 basis-full md:basis-[calc(50%-theme(space.4))] lg:basis-[calc(25%-theme(space.4))] pb-6"
					>
						<img
							src={image}
							class="w-32 rounded-full border border-gray-300 mx-auto mb-2"
							alt={title}
						/>
						<h4 class="text-white font-semibold text-center text-lg pb-4 uppercase">{title}</h4>
						<p class="text-white text-center opacity-75">{description}</p>
					</div>
				{/each}
			</div>
		</div>
	</section>
{/if}

<Footer />

<style lang="css">
	.custom-arrow {
		/* width: 20px; */
		background-color: #000000;
		opacity: 0.1;
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		transition: opacity 150ms ease;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
	}
</style>
